
.login-wrap {
  width: 100%;
  //background: url("/src/assets/img/login/01.png") no-repeat center;
  background-size: 100%;
  .login-wrap-main{
    height: 70%;
    .login-wrap-main-img{
      .login-wrap-main-text{
        margin-top: 20px;
        .small{
          color:rgba(255,255,255,0.6);
          font-size: 16px;
        }
        .normal{
          color: #fff;
          padding-left: 29px;
          font-size: 20px;
        }
      }
    }
    .login-wrap-form-wrap{
      .login-wrap-form{
        width: 500px;
        .ant-menu{
          border-bottom: none;
          text-align: left;
          .ant-menu-item{
            padding: 0;
            width: 49px;
            text-align: left;
          }
        }
        .ant-form-item{
          margin-bottom: 12px;
        }
        .ant-checkbox{
          color: #B7B7B7;
          font-size: 12px;
        }
        .ant-input{
          border-top: none;
          border-right: none;
          border-left: none;
          border-radius: inherit;
          padding-left: 0;
          &:focus{
            box-shadow: none;
          }
        }
        .login-wrap-btn{
          background:linear-gradient(270deg,rgba(212,171,180,1) 0%,rgba(106,83,175,1) 100%);
          color: #fff;
        }
      }
    }
  }
}
